[2017-10-03 13:33] klahnakoski opened #2 "Add doc for class and methods for TID API"
I would like to see a small doc that points to the main class responsible for TID management, and the (public) methods that can be called on it.  This will help me make more test cases, and provide you with paice of code that turn your class into a web api.

[2017-10-05 19:00] brockajones commented on #2
I'll write a readme that describes the methods and outlines the class once I get some more work done one it. Right now I just have the grabTID method.

[2017-10-06 21:39] klahnakoski opened #3 "Use the requests module"
The [requests module](http://docs.python-requests.org/en/master/) is easier to use than `from urllib.request import urlopen`

[2017-10-06 22:12] klahnakoski opened #4 "Do not parse diffs, use existing code"
Concerning this code

        if line['t']=='@':
                    m=re.search('(?<=\+)\d+',line['l'])
                    curline=m.group(0)

It looks like you are parsing.  Please use diff parsing library, or use the `mo_hg.parse.diff_to_json()` in the [mo-hg](https://pypi.python.org/pypi/mo-hg/1.5.17279) library

[2017-10-25 20:06] brockajones commented on #4
Does mo-hg work with python3? It looks like python 2 when I tried to install it

[2017-10-25 20:21] #3 closed

[2017-10-31 19:06] klahnakoski opened #6 "Use with context clause for files"
Instead of

        f=open('config.json', 'r',encoding='utf8')
        self.config = json.load(f)
        f.close();

use the `with` clause to close the file no matter now you may exit the block:

            with open('config.json', 'r') as f:
                self.config = json.load(f, encoding='utf8')

oh, and the `encoding` parameter moved

[2017-10-31 19:11] klahnakoski opened #7 "Catch exceptions early and often, and chain them"
An uncaught exception will make the program exit.  Instead of

                try:
                    self.conn = sqlite3.connect(self.config['database']['name'])
                except Exception:
                    print("Could not connect to database")
                    exit(-1)

raise an error:

                try:
                    self.conn = sqlite3.connect(self.config['database']['n

[2017-10-31 19:16] klahnakoski opened #8 "Fix comparision with None, and fix formatting"
This syntax should be raising a warning in your IDE:

    if changesets == None:

Python prefers

    if changesets is None:

Furthermore, there are many formatting problems with the code. Pycharm has a key-combo that will auto-format your code.   Find out what that combo is, and use it often.

[2017-10-31 19:18] klahnakoski commented on #4
Yes, it is only python 2.

[2017-10-31 19:32] klahnakoski opened #9 "Simplfy check"
Python has a few tricks up its sleeve; It has a long list of "Falsey" values that can make conditionals shorter.

        if changesets == None:
            return None
        if changesets == []:
            return None

can be written as

        if not changesets:
            return None

https://docs.python.org/3/library/stdtypes.html#truth-value-testing

[2017-10-31 19:46] klahnakoski opened #10 "Format structured blocks"
Every line of code should have balanced parenthesis, quotes, or any other syntactical containment. If code does not fit on a line, then the opening tokens should end the line, with a line of matching closing tokens after the enclosed block.

Instead of

        self.conn.execute('''CREATE TABLE Temporal
                 (TID INTEGER PRIMARY KEY     AUTOINCREMENT,
                 REVISION CHAR(12)

[2017-10-31 20:23] klahnakoski opened #11 "Inline methods that have only one caller"
`_makeTIDsFromChangeset` has only one caller; please in-line it.

`test_addChangsetToRev` fails because it calls `_makeTIDsFromChangeset`, which should only be called under certain conditions that `_grabChangeset` checks for.  The mere existence of `_makeTIDsFromChangeset` influenced you to use it, and use it wrong.  Its existence increases the the surface area you are compelled to test, despite i

[2017-10-31 20:27] klahnakoski commented on #9
Looking at it more, it seems `_changesetsBetween` can only return a list (possibly empty)

        changesets = self._changesetsBetween(file, newrev, oldrev)
        if changesets == None:
            return None
        if changesets == []:
            return None
        for cs in changesets:
            csTIDs = self._grabChangeset(file, cs)
            rev = self._addChangesetToRev(rev, csTIDs

[2017-10-31 20:31] klahnakoski opened #12 "_grabRevision should be checking the database first"
If the database has the revision, it should never be calling hg.

[2017-10-31 20:34] klahnakoski commented on #9
even more looking... It seems this check can go into `_changesetsBetween` and reducing `_applyChangesetsToRev` to just a few lines:

        if oldrev == newrev:
            return rev

[2017-11-03 05:09] #6 closed

[2017-11-03 05:33] #7 closed

[2017-11-03 05:59] #8 closed

[2017-11-03 06:02] #10 closed

[2017-11-09 18:24] klahnakoski opened #13 "Testing diff processing of"
Include test to process this changeset.  Test TUIDs for the files touched before and after applying this change.

https://hg.mozilla.org/mozilla-central/rev/3acb30b37718b0abc626416b9554acbc880a0078

[2017-11-09 20:35] klahnakoski opened #15 "Python method names should not be CamelCase"
Change the method names (and names in general) from camelCase (`test_applyChangesetsToRev`) to underscore-separated (`test_apply_changesets_to_rev`)

The one exception is class names; they should be CamelCase.

[2017-11-10 01:13] #15 closed

[2017-11-10 01:14] #12 closed

[2017-11-10 02:58] brockajones commented on #11
Would it be okay if I left _make_tids_from_diff as it's own method? It's such a large method that I'm not sold on the idea of inlining it. All the other single use methods I'll inline.

[2017-11-10 04:17] #9 closed

[2017-11-10 05:03] brockajones commented on #13
Just wondering but is there something special about this changeset that makes it a good test candidate?

[2017-11-10 16:26] #13 closed

[2017-11-10 21:49] #2 closed

[2017-11-17 19:13] klahnakoski commented on #11
Yes, the code is fine now.

[2017-11-17 19:13] #11 closed

[2017-11-17 19:14] klahnakoski commented on #4
This was not an issue.

[2017-11-17 19:14] #4 closed

[2017-11-17 19:16] klahnakoski opened #16 "Take advantage of falsey values"
if change_set == []:

is better written as

    if not change_set

[2017-11-17 19:24] klahnakoski opened #17 "Add a facade for logging"
Almost alll methods should be wrapped in a facade, including builtins, like print:

     print(url)

Make a facade that uses `print`, or make a facade that uses a logging library:

[code]

then you can replace the above with

    Log.note(url)

Facades provide an API that best matches your application calling patterns, and allows you to change libraries easier later.

[2017-11-17 19:25] klahnakoski opened #18 "Use global constants"
Instead of

    _grabTIDQuery = "SELECT * from Temporal WHERE file=? and substr(revision,0,13)=substr(?,0,13);"

define a module-level constant

    GRAB_TID_QUERY = "SELECT * from Temporal WHERE file=? and substr(revision,0,13)=substr(?,0,13);"

[2017-11-17 19:26] klahnakoski commented on #16
Another example:

    if current_changeset != []:

should be replaced with

    if current_changeset:

[2017-11-17 19:33] klahnakoski opened #19 "Add facade to sqlite"
Another example of add-a-facade-to-everything; here is a common calling pattern you use with sqlite:

[code]

Make a facade over the sqlite library to simplify these call:

[code]

then your calls look like

    cs_list = db.get(self._grabTIDQuery,(file,current_changeset))

[2017-11-17 19:39] klahnakoski commented on #19
... as a further example:
[code]

can be reduced to

[code]

[2017-11-17 19:57] klahnakoski opened #20 "Ensure columns are explicit"
This code is a bit dangerous:

[code]

Do not use `select *` unless your code uses `cursor.description` to assign names to columns; the ordering of the columns may change on you. Let your SQL be explicit

[code]

be sure to assign to named variables asap, so there are no magic numbers littered in your code

[code]

[2017-11-17 20:01] klahnakoski opened #21 "revsions and changsets are 1-1 in hg"
Conceptually, revisions and changesets are different, but hg does not make the distinction.  The two tables going by those names should be merged into one.

[2017-11-21 18:56] klahnakoski opened #23 "testing with existing db should make no hg calls"
...since the local database should have everything it needs

[2017-11-21 19:02] klahnakoski opened #24 "Add stress test"
One of the tests should attempt to stress the database.  Add a test that requests TIDs from the `/dom/base` directory of files.  Here is a list: https://activedata.allizom.org/tools/query.html#query_id=gqfxRAu4

[2017-11-21 19:04] klahnakoski commented on #24
Add a copy of the database into the repo at `resources/TID.sqlite`.  This will allow you to run the stress test at full speed.

[2017-11-21 19:07] klahnakoski opened #25 "Do not use "is""
This code will not do what you expect:

    if mozobj['diff'] is []:

instead write

    if not mozobj['diff']:

[2017-11-23 23:07] #25 closed

[2017-11-23 23:17] brockajones commented on #16
I can't find anywhere in my code with == [] or != []. Closing

[2017-11-23 23:17] #16 closed

[2017-11-23 23:25] brockajones commented on #17
Would requests and sqlite also need to be wrapped in a facade?

[2017-11-24 04:19] klahnakoski commented on #17
yes!

1. You will see that specific request for sqlite in https://github.com/brockajones/TID/issues/19
2. When you wrap `requests` you can have it add the `Accept-Encoding: gzip, deflate` header

[2017-11-24 18:45] #18 closed

[2017-11-24 18:46] #17 closed

[2017-11-24 20:19] klahnakoski opened #26 "Fix Log usage"
1. Rename the `Log.py` file to `log.py` (all lowercase).
2. Do not assign a log object: `self.log = Log.Log`, you can use it without an instance being created
3. Instead of `self.log.note()` use the call class directly:  `Log.note()`

[2017-11-24 20:22] #19 closed

[2017-11-24 21:01] #20 closed

[2017-11-24 21:04] #26 closed

[2017-11-24 21:06] brockajones commented on #21
I wouldn't be able to merge the two tables, because the changeset table deals with the modifications/diffs and the revision table deals with entire files. Maybe I could just rename one of the tables?

[2017-11-29 05:14] brockajones commented on #23
I'm going to consider this issue closed but right now if a file doesn't exist it will always ask the hg.mozilla. I don't think it'll ask for a file that doesn't exist often so I don't want to cache files that doesn't exist. Let me know if that's an issue

[2017-11-29 05:14] #23 closed

[2017-12-03 17:46] #24 closed

[2017-12-03 17:52] brockajones opened #27 "grab_tids not always grabbing from the database when running stress test"
When running stress test with a full database sometime it still needs to grab data from hg.mozilla. This is due to it's attempt to grab missing files and in one case a missing changeset. One possible fix for this would be to record in the database any missing files.

[2018-03-16 21:51] klahnakoski opened #28 "Apply diffs to TUID arrays rather than pulling blame from hg"
A diff touching multiple files will be faster to pull from `mo-hg` than to pull every touched file from hg's json-annotate.  Therefore deltas from know TUIDs should be faster to calculate.

The only time json-annotate should be used is when we are asking about files we do not know about, or revisions that precede the database knowledge, or when the number of changesets from the target revision to

[2018-03-16 22:02] klahnakoski opened #29 "Changesets table to track changesets and thier parents"
By tracking every changeset, its parent, and a total ordering number we can find the latest changeset for every file we are interested in.

[code]

I do not intend that this resultset be pulled from the database, rather this be used as part of a larger query to get all relevant tuids

[2018-03-16 22:12] klahnakoski opened #30 "Cache the diffs"
Caching the diffs may be useful, at the very least knowing what files are touched by what revisions will help us store a sparse table of tuids:

[code]

the `diff` column is not the regular diff, rather some serialization of a structure that tells us what are new lines (`+`), deleted lines (`-`), or unchanged (`|`).  Maybe a string with a length that matches the source file:

    ||||||+++--||||||

[2018-03-16 22:24] klahnakoski commented on #30
One reason to store the diffs is if the logic that collects all the new diffs is separate from the logic that serially applies them to the files between the known revision and target revision.

[2018-03-21 18:13] klahnakoski opened #31 "add version table to database"
It would be nice for the service to verify the database has the correct version.  If not, then either migrate the data, or make a new database.

[2018-03-22 15:13] klahnakoski opened #32 "Cache get_tuids() responses"
TUID requests will be significantly more numerous than the number of files ingested. Please cache the responses of `get_tuid()` in the database so they can be retrieved faster, and with a single query.  Also consider pre-caching these responses so all the transformation logic is in one place.

Right now, this block does a lot of work for every request:

https://github.com/mozilla/TUID/blob/a541a5b

[2018-03-22 21:39] klahnakoski commented on #32
Here is the problem exposed:

The tuid client has been changed to handle blocks of file from a single revision.  This is a log from the client side...

[code]

the client has its own sqlite cache, so we can see how long it takes to pull details for 100 files from the database.

[code]

this next step will check the local cache, find it is missing, and go back to the tuid service for more.  The ser

[2018-03-22 21:42] klahnakoski commented on #32
Looking at the server side:

[code]

The data collection time is better.  The majority of the response time must be in the network serialization.

[2018-03-22 21:58] gmierz commented on #32
Could you please summarize and elaborate on the problem you see and your findings? I don't see a problem. Furthermore, TUID requests are cached in the annotations table. (Plus, the function you are looking at is only called for new files, and cached files when using the frontier).

I'm htting 4s on 10 files also so I have a feeling that increasing file count to 10,000 could still be under 30 secon

[2018-03-23 15:24] klahnakoski commented on #32
My concern was the amount of python processing required to respond to a request for tuids.  Looking at the measurements it does not look like I should be concerned. I will try a run at 1K and 10K and get back to you

[2018-03-23 19:13] klahnakoski commented on #32
ekyle29792 (pid 16076) - 2018-03-23 19:06:04 - Timer start: tuid internal response time for 995 files
    ekyle29792 (pid 16076) - 2018-03-23 19:06:06 - Timer end  : tuid internal response time for 995 files (took 1.891 seconds)
    127.0.0.1 - - [23/Mar/2018 15:06:06] "POST /tuid HTTP/1.1" 200 -

Still fast!

[2018-03-23 19:13] #32 closed

[2018-03-25 14:54] klahnakoski opened #33 "Add daemon to pre-load tuids into database for coverage revisions"
We want to ensure that requests for tuids on coverage revisions have low latency.  I would hope that unified diff application** would be fast enough, but maybe not.  We can predict the future revisions that will be requested by the ETL pipeline machines far in advance: Query ActiveData for the recent coverage tasks, and the build revision used.

A daemon should monitor the future revisions, and en

[2018-03-25 14:55] #21 closed

[2018-03-25 15:02] klahnakoski commented on #30
If this caching is done in hg_mozilla_org, then the ETL machines can ensure that it is up to date, and the tuid service can pull diffs faster.

[2018-03-27 21:41] klahnakoski opened #34 "Solve the transaction problem"
In a call with @gmierz this morning we decided to use use transactions to rollback changes caused by program errors.  This requires the `sql.py` implement transactions, and implement them properly.

In this light, I will pushed a facade to allow transactions using Python "context manager" (https://github.com/mozilla/TUID/commit/66b15254f852cb19f972f4eef1766b215e9d6e98) :

here is example uasge:

[

[2018-03-30 00:04] gmierz commented on #34
This issue should be solved with the following commit: https://github.com/mozilla/TUID/commit/390e7c28982367452f1a8ad9bdd7ac52b3efb93d

@klahnakoski can you review it when you have some time?

[2018-05-05 11:54] klahnakoski opened #35 "Add Daemon to app.py"
The daemon does not start in production

[2018-05-05 11:57] klahnakoski opened #36 "Reduce warnings"
There are too many warnings while running in prod.  Each warning sends an email.

ip-172-31-1-12 (pid 8972) - 2018-05-05 11:53:38 - Main Thread - "service.py:784" (get_tuids) - WARNING: xpcom/ds/nsArrayUtils.h does not exist in the revision 334aed1c3232

Warning are for unusual situations that the machine can handle, but really should be fixed.

[2018-05-06 00:01] gmierz commented on #35
Would you have any thoughts about how the daemon should run?

I am thinking of making an initialization method for the app that'll start a new database with a query to activedata for all files with coverage info then run the daemon until the database is updated to the current push (going back by 10-20 pushes). Otherwise, we would have to add many insertion checks everywhere so that we don't break

[2018-05-06 00:52] klahnakoski commented on #35
*Assuming* the database really has transactions (and we are not sure of this because I only added a facade for transactions, and did not implement/verify it working), then the daemon can handle it's own database loading; keeping a transaction open the whole time; preventing other threads from accessing the database; and just failing.

Insert a line to run the daemon on another thread in `app.py`:

[2018-05-06 10:42] klahnakoski commented on #35
thinking more about this; the "insertion checks" you are concerned may be easier to write than initialize-db-at-startup:  The code already must deal with files it knows nothing about, so you do not save there.  Updating the frontier on a file also has to be done usually.  Also, it is OK if the service fails to respond fast enough on the first revision because it is building the database;

[2018-05-07 12:51] klahnakoski opened #37 "Send less bad requests to HG"
Operations noticed my deployment test on Saturday, and banned the IP for sending too many requests that result in 404.  In our context, 404 is a perfectly legitimate response; it tells us what files do not exist.  Unfortunately, these 404s are more suspicious than an equivalent number of successful requests.

I will be fixing the ETL pipeline to send less requests for files that do not exist.  Plu

[2018-05-07 12:56] klahnakoski commented on #36
Turns out these particular warnings are good:  HG is suspicious of 404s, so reducing the cause will reduce the number of 404s and the number of warnings.

[2018-05-08 22:29] gmierz commented on #35
Based on discussions between myself and @klahnakoski , we will be holding off on running the daemon and dealing with these issues because we may not need it since the service may be fast enough by itself.

[2018-05-08 22:30] gmierz commented on #33
We have a daemon here now: https://github.com/mozilla/TUID/blob/dev/tuid/service.py#L813

[2018-05-08 22:30] #33 closed

[2018-05-08 22:31] gmierz commented on #30
Diffs are now cached by ES and obtained with HgMozillaOrg: https://github.com/mozilla/TUID/blob/dev/tuid/service.py#L179

[2018-05-08 22:31] #30 closed

[2018-05-08 22:32] gmierz commented on #31
@klahnakoski do you still want this? We can make a little table to store version numbers.

[2018-05-08 22:33] gmierz commented on #29
No longer relevant given that we now use frontiers and the changeset log to enforce ordering and determine the latest revisions.

[2018-05-08 22:33] #29 closed

[2018-05-08 22:34] gmierz commented on #27
No longer relevant.

[2018-05-08 22:34] #27 closed

[2018-05-08 22:35] gmierz commented on #28
This is how the current iteration of the service works. It uses diffs to update file frontier's and if the file frontier's are too far away, or never seen before, we get the annotation.

[2018-05-08 22:35] #28 closed

[2018-05-09 01:54] #35 closed

[2018-05-09 01:55] klahnakoski commented on #31
Yes, it is just a little table, like you said.  This will allow use to automatically migrate an old database, or (more likely) delete an invalid version database.

[2018-05-09 01:56] #36 closed

[2018-05-09 01:57] klahnakoski commented on #37
solved with https://github.com/klahnakoski/ActiveData-ETL/issues/37

[2018-05-09 01:57] #37 closed

[2018-05-09 02:03] klahnakoski commented on #34
This issue has been expanded to include adding tests to ensure the transaction facade implements real transactions.

[2018-05-10 03:55] klahnakoski opened #38 "Database closing?"
[code]

[2018-05-10 12:34] gmierz commented on #38
Was there an error before this one that could've closed it? Last time I saw this error it was because of that.

[2018-05-10 13:29] klahnakoski commented on #38
No error in the logs, it was probably overridden by closing error.  Ensure the `__exit__()` method does not throw an error (log a `warning()` instead, so that original error gets logged.

Also, the database should not be closed to begin with, so there is a code path that closes the database; we should fix that.

I think this can be revealed with adding transaction tests (see https://github.com/moz

[2018-05-24 21:21] klahnakoski opened #39 "Client may be sending empty body"
The client is complaining about the server's complaint!

[code]

[2018-06-04 13:59] klahnakoski opened #40 "Pull less branches during Travis testing"
The `mo-hg` library fills an empty ES instance with branch information.  This takes a while, and generates lots of logs.

Add a configuration option to mo-hg that limits the branches it is interested in; making loading and testing faster.

[2018-06-23 15:56] klahnakoski opened #41 "Move database file to larger drive"
The boot drive is only 7Gb, so it will not be able to hold the tuid database for long.  Move it to /data1 which is a little bigger

[code]

[2018-06-23 15:59] klahnakoski opened #42 "Pack database"
The `annotations` table stores the tuids<->line mapping as a string of many lines, with `tuid, linenum` pair on each line.  Storing as an order list of tuids should be half the size.

[2018-06-23 16:25] klahnakoski opened #43 "Faster changeset application?"
This is only to be implemented if we find changeset application must be faster.

If the `(tuid, revision, file, line)` tuples are rows in the database, then a changeset can be converted to SQL statements that operate on those rows to update the database. Sending SQL to the database should be faster than pulling the raw data out, operating on it with Python, and pushing it back in.

[2018-06-23 16:36] klahnakoski opened #44 "Faster changelog?"
Does hg accept a parameter to increase the number of results in a changelog?  More results with less requests will be faster.

[2018-06-27 18:10] klahnakoski opened #45 "Add test for added and removed files"
A test to cover added, removed (?and moved?) files should be in the test suite

https://github.com/mozilla/TUID/commit/5f19448bdd78a76b1f387ef393f83e34e2446f1c

[2018-06-27 19:15] gmierz commented on #45
I'll add a test for moved files with get_tuids_from_files. Added files are not processed unless requested, but even then, if they are new they need to get their initial annotation so they won't be processed through diffs. Removed, along with modified files are tested in test_one_http_call, maybe we should rename the test.

The additions I recently made were to guard from instances where a file is

[2018-06-28 14:01] klahnakoski opened #46 "Measure % of files marked with TUIDs"
The TUID service places priority on fast response rather than returning all TUIDs; it will return 202 if not all TUIDs can be found quickly.  This is good because we maintain a quality of service that the ETL machines can rely on.

We should measure what percent of files are being marked with TUIDs. This will inform the accuracy of the TUID queries; it can be used to track the progression of this

[2018-07-03 14:16] gmierz opened #48 "Merge conflicts"
Currently, the TUID service completely ignores merge diffs because they contain the same changes done by past patches/diffs that have already been applied.

However, there exists a case where merge conflicts can occur, leading to changes being done in the merge patch which would never be in the TUID DB with what we currently have. Furthermore, those changes applied between the previous merge, and

[2018-07-03 14:43] gmierz commented on #41
This was done by the following patch: https://github.com/mozilla/TUID/commit/7c0bd83cf8cfd3090951abc7656c5c931eb19385

[2018-07-03 14:43] #41 closed

[2018-07-03 14:49] gmierz commented on #40
Now, we only pull mc and try branches during Travis testing, and local testing. However, we now use the production ES so these changes only matter if we are not using it.

Changes:
 (1): cc94da1b36b18d7cdbbad9f65cd4e882eb7e69dc
 (2): f71fb32b1cc3eb0d0977f9361786b1b64ec961c3

Production use change (access with plink): https://github.com/mozilla/TUID/commit/21173bb0b322d3029e6347430758d9b565aaf9ab

[2018-07-03 14:49] #40 closed

[2018-07-03 15:06] klahnakoski commented on #48
Maybe the merge patch and, the aggregate of the changesets that make up the merge patch, can be compared to deduce a "delta patch" - defined as "the changes made to fix merge conflicts".  This would be faster to apply; especially if the number of files touched by the delta is small.

Let me attempt some pseudo code: Usually we have a merge patch (`M`) be the application of multiple changesets (`Ci

[2018-07-03 20:44] gmierz commented on #46
PR #49 has been opened for this issue and contains the necessary changes.

[2018-07-04 13:53] klahnakoski opened #50 "Alert on thread limit"
I suspect the machine failure over the weekend was caused by too many threads being generated by the TUID service.  We should have an alert when too many threads get created.  This may be hard since we do not control the creation of threads, the Flask app does.  Still, we should be able to `id()` threads and count them.

[2018-07-04 16:48] klahnakoski opened #51 "Add aggregate coverage recipe"
One of the deliverables for this project is to show aggregate-coverage-over-multiple-revisions, provides a more-stable coverage view than any individual coverage run.  This issue is to track the https://github.com/mozilla/active-data-recipes that will be made to show this.

[2018-07-04 16:52] klahnakoski opened #52 "Daemon to work ahead of TUID requests"
This is to track work on the "clogger" (changeset logger) that pre-fills the database with TUIDs before the requests for those TUIDs come in.

First draft is here  https://github.com/mozilla/TUID/pull/47

[2018-07-06 12:31] klahnakoski opened #53 "Add check for active transactions"
The TUID service easily gets overwhelmed by requests, especially when there are about 300 machines making those requests (as was this morning).  The TUID service must be more aggressive about how it will respond to these requests.

The `app.py` methods could check the database for the number of pending transactions, and return a 503 Service Unavailable if the count is too high.

[2018-07-06 12:41] klahnakoski opened #54 "Move to new server"
The TUID service is demanding; it should be contained in its own server

[2018-07-06 18:15] klahnakoski commented on #53
Done here https://github.com/mozilla/TUID/commit/37491357bb79051aae6e862e22a6836137ba9da8

[2018-07-06 18:15] #53 closed

[2018-07-06 18:17] klahnakoski commented on #54
Done here
https://github.com/mozilla/TUID/commit/2b1062f2612e65f81ff13f92df6b0a9dcbdf9ae0

with some fixes
https://github.com/mozilla/TUID/commit/d34c1a30ef1b11590ca78560ccbedf407132d5f8
https://github.com/mozilla/TUID/commit/0fd2db5cbe0f9df351907c87c199934bb2470d4b

[2018-07-06 18:17] #54 closed

[2018-07-07 02:13] gmierz commented on #52
Currently, the look-ahead scanner "Clogger" only makes a path with changesets for the frontiers to follow to be able to go forwards and backwards in time (in terms of changes applied) much more quickly. It also saves us some time by storing the changeset log so we don't have to continuously request it.

We can definitely make this worker pull the revisions and add their diffs to the `temporal` tab

[2018-07-07 07:25] klahnakoski opened #55 "Improve sqs consumer"
The `sqs_consumer` was written to consume the recorded tuid requests, and make those same calls to a service.  Unfortunately, it does not send the requests at the rate they arrived because it is single threaded.

Begin by determining the playback time offset, and ensure the messages are consumed (and sent) according to timestamp on those messages.  Use multiple threads to do so.

[2018-07-07 15:13] gmierz commented on #55
I believe we could make it very similar by mimicking the timeout of 30 seconds on the request as I am able to run app.py as a multi-threaded application this way. I think It would also be closer to the true pipeline this way. What do you prefer?

[2018-07-07 15:19] gmierz commented on #55
Here's what I am using now: https://github.com/mozilla/TUID/commit/e060f43044faa43e67b824e4233bda43be07f6ef

[2018-07-07 16:52] klahnakoski opened #56 "Remove loop"
In

https://github.com/mozilla/TUID/blob/8a3527d8ae64df265d6027cb4eab320b146423e8/tuid/service.py#L1419

the `missing_tuids` is filled in a loop (along with another set) this should be done in a single query; finding everything that exists, and doing set subtraction to find the missing.

[2018-07-08 00:37] klahnakoski commented on #55
I am not sure what was in the old sqs_consumer.  This new one is thinner and makes requests as fast seen in production.  Good luck!

[2018-07-08 00:37] #55 closed

[2018-07-08 00:37] klahnakoski commented on #55
https://github.com/mozilla/TUID/commit/3288a90965f38adc4d61aa362096fb4d4470518f

[2018-07-08 17:53] gmierz opened #57 "Duplicate annotation requests at initialization"
When the DB is first initialized, we have to add an initial annotation entry for each file we see that we can apply diffs to in the future which is much faster. But the requests from ETL machines come in quite quickly at initialization, resulting in at most 15% of the files being requested more than once within 1 minute. This calculation was obtained on a 1 minute run of `tests\sqs_consumer.py` wi

[2018-07-08 20:20] gmierz commented on #56
Done with 81019f8b39eab233ebc5fe165a994db47b8b710f and expanded on to make inserting new tuids faster as well here 41fc4a6f8de55b8704f4c93180bcbec19c73663f

[2018-07-08 20:20] #56 closed

[2018-07-10 13:58] gmierz opened #58 "Duplicate json-annotate node entries - HG annotate bug"
Currently there exists an unknown feature or bug in HG file annotations where a particular line may be duplicated to multiple locations, along with it's creation date. This is problematic as we rely on the creation of a line being unique over time. This is the unique constraint of the `temporal` table.

We currently get around this problem by returning a new TUID for the duplicate line the first t

[2018-07-12 13:30] gmierz opened #59 "Look into revnum management methods"
This issue is to look into other ways of defining revnum which is used by Clogger to define ordered ranges of patches to apply. Currently, revnum is defined as an INTEGER PRIMARY KEY which auto-increments and allows us to easily manage the numbers by re-creating the table after any modifications.

One idea is to use floats instead, as it may be possible to incorporate other branches into the same

[2018-07-13 05:27] indygreg opened #60 "HTTP requests to json-annotate caused high load on hg.mozilla.org"
We received automated alerts about high load on hg.mozilla.org around 0351 UTC (~80 minutes ago).

The onset of the server load correlates to an influx of HTTP requests with the UA ``https://github.com/mozilla/TUID``. Many requests were for URLs under ``/mozilla-central/json-annotate/ccdb64ade35f``. But later it branched out into other changesets.

The request volume was high enough to exhaust all

[2018-07-13 16:22] gmierz commented on #60
Thanks for letting us know @indygreg. The service is shutdown until we resolve this.

And thank you for all the solutions you've outlined, but I don't think we need to add any special tooling for this because we will only be requesting the annotations once for all files in the near future.

Because of that, I've started implementing a restriction so that no more than 10 annotations are ever being

[2018-07-14 00:57] indygreg commented on #60
Thank you for following up on this!

And there's a good chance `10` isn't the correct number. I just threw it out because it seemed reasonable off the top of my head. There's a good chance it is still too high. There's also a good chance it is too low.

Please make noise in ``#vcs`` next time you light this up. And if you are feeling courteous, wait for acknowledgement from me (gps), sheehan, or f

[2018-07-17 15:50] gmierz opened #61 "Find merges where two diff application paths produce different results"
This issue is to find patterns in the merge conflicts that we could hopefully use to deal with them as we currently ignore all merge patches, regardless of conflicts being present.

The idea is to apply diffs in multiple ways to see if we can detect and correct for merge conflicts automatically.

See issue #48.

[2018-07-17 15:55] gmierz opened #62 "Remove `temporal` table?"
This issue is to discuss removal of the temporal table. Once we enable forward and backwards diff application for frontiers, there will be little use for this table so we could get rid of it.

We could keep it though and use it through `get_tuids` so that we get a sort of "ground truth" of what lines tuids should be mapping to from one revision to another. We can compare this with what the diff ap

[2018-07-17 15:58] gmierz opened #63 "Explore getting the changeset log from hg_mozilla_org.py"
This issue is to explore the possibility of getting the changeset log from hg_mozilla_org.py which would likely be faster. The issue is that we may have to topologically sort the logs we get from there in order to properly apply them.

[2018-07-17 16:01] gmierz commented on #57
This issue can be solved by using a rate limiting service or class that can also cache requests in case they are duplicated.

[2018-07-17 21:48] klahnakoski opened #65 "Central server for hg requests"
The TUID service, and the ActiveData ETL pipeline require a centralized rate-limit server (and cache).  This service will measure hg.mo request rate, ensure the hg.mo requests rate stays below some requests/second, while cache responses for various clients.  This is expected to handle hundreds of concurrent requests

This will be added to the `mo_hg` vendor library, to be spread out to other proje

[2018-07-17 21:49] klahnakoski commented on #60
Proposed solution to this problem: https://github.com/mozilla/TUID/issues/65

[2018-07-17 21:50] klahnakoski commented on #65
This may solve a problem see in https://github.com/mozilla/firefox-code-coverage-frontend where hg.mo is slow to respond.

[2018-07-19 17:36] gmierz opened #67 "Mapping TUIDs for Try branch requests"
The current method for getting TUIDs from try branches is here: https://github.com/mozilla/TUID/blob/dev/tuid/service.py#L640

One possible way of speeding things up here is by using the cache and rate limiter from https://github.com/mozilla/TUID/pull/66 once they are added for try revision requests. We could also use the look-ahead scanner (Clogger) once it's integrated, but it would act similarl

[2018-07-19 18:58] klahnakoski commented on #50
Maybe we can limit threads

https://docs.python.org/2/library/resource.html#resource.RLIMIT_NPROC

[2018-07-19 18:59] klahnakoski commented on #50
https://stackoverflow.com/questions/2697640/multiprocessing-bomb

[2018-07-19 19:35] klahnakoski opened #68 "Ensure we fail on unexpected"
Here is a line that assumes there is one parent

https://github.com/mozilla/TUID/blob/41fb49e3ef1403d05cdc35e26fef2659d6cc7a3c/tuid/service.py#L727

Please
* handle multiple parents, or
* raise a warning when multiple parents are encountered, or
* fail when multiple parents are encountered

[2018-07-19 19:42] klahnakoski commented on #67
A third option is to use the `hg_mozilla_org.py`: It has a [_daemon()](https://github.com/mozilla/TUID/blob/41fb49e3ef1403d05cdc35e26fef2659d6cc7a3c/vendor/mo_hg/hg_mozilla_org.py#L124) which looks for not-requested revisions to fill in any gaps. There is a switch that turns on scanning for `try` branch (currently off). Either you can use `hg_mozilla_org.get_revision()` to get the ES cached value,

[2018-07-20 13:19] klahnakoski commented on #50
@gmierz appears to be working on a solution here: https://github.com/mozilla/TUID/pull/69

[2018-07-20 17:46] gmierz commented on #50
PR #69 was merged and is running in production now. We can keep this issue open for integrating the Cache and Rate Limiter from PR #66.

[2018-07-20 17:49] gmierz commented on #60
PR #69 fixed this error by limiting the number of concurrent requests to 10. We need a more general solution to this though which will be tackled by issue #65. As this is fixed, the TUID service in now running in production.

If there are ever any issues with this again, please make another issue here or ping myself (:sparky) or @klahnakoski (:ekyle) on IRC.

[2018-07-20 17:49] #60 closed

[2018-07-20 19:14] gmierz opened #70 "Fix deepcopy error in PR #64"
This issue is to eventually fix the deepcopy error found in the following commit: https://github.com/mozilla/TUID/pull/64/commits/520700d29f5d124e112682b1ce406ef0b180da57

And here is the travis build that shows the error: https://travis-ci.org/mozilla/TUID/builds/406353515#L2176

There is a workaround in place but it would be good to have this fixed at some point for future use cases.

[2018-07-20 19:34] gmierz commented on #67
Issue #68 comes from the try revision requests logic and it will need to solved in conjunction with this issue.

[2018-07-20 19:35] gmierz commented on #38
This is no longer a relevant error.

[2018-07-20 19:35] #38 closed

[2018-07-21 17:43] klahnakoski opened #71 "Make some context managers to simplify code"
Here is some code that can benefit from a context manager, or two:

https://github.com/mozilla/TUID/blob/6ab76ea9d7a87a4aa99ddfbeda9bf96c0bb54574/tuid/service.py#L240

instead of

        with self.ann_thread_locker:
            self.ann_threads_running += 1
        ...some code...
        with self.ann_thread_locker:
            self.ann_threads_running -= 1
        return

make a [context manage

[2018-07-21 17:44] klahnakoski commented on #71
eg https://github.com/mozilla/TUID/pull/72

[2018-07-21 17:45] klahnakoski commented on #71
use `?w=1` to see diffs ignoring whitespace (simpler)

https://github.com/mozilla/TUID/pull/72/files?w=1

[2018-07-24 15:12] gmierz opened #73 "Find and fix memory leak"
There is a memory leak that is preventing the service from running at the moment. Currently, I believe this is coming from when we get the annotations (through `get_tuids`) but more work needs to be done to determine if this is true and precisely what is causing the leak.

Some preliminary work is showing me that we are leaking ~2Mb from `get_tuids` requests with 100 files. This could be higher th

[2018-07-24 18:51] klahnakoski commented on #73
there is some `@cache(duration=DAY)` that may give he appearance of a memory leak.

[2018-07-24 19:19] gmierz commented on #73
There are no calls to functions that use `@cache(...)` in `get_tuids` so that can't be a problem and if there is, it's size would be tiny in comparison to the leak. (Plus, that shouldn't cause memory to grow unbounded with the same files at the same revision).

I found one of the memory leaks and I fixed it by using the following copy: https://github.com/mozilla/TUID/commit/ab116ffd10adc5b31262507

[2018-07-24 19:58] gmierz commented on #73
Here's an interesting log: [threads_leak2.txt](https://github.com/mozilla/TUID/files/2225129/threads_leak2.txt)

At the start, you can see that the memory used by `threads` is cleared, but only the first time. After that, only some things are cleared. The profiler isn't too great here because there are some bugs in the output but it is showing us areas of interest that could be causing this leak

[2018-07-31 13:26] klahnakoski opened #74 "simplify logic"
`fill_forward_continuous()` has 5 lines dealing with `waiting_a_bit`.  When that happens, there is usually an easier way:

[code]

[2018-08-01 20:49] gmierz opened #75 "`.png` files now return non-empty results when requesting annotate."
Recently, a change was made to hg annotate (I'm not sure what changed) which has it now return results for files that have no lines of code like the following: https://hg.mozilla.org/mozilla-central/json-annotate/d3ed36f4fb7a/browser/tools/mozscreenshots/mozscreenshots/extension/lib/robot_upperleft.png

Hg annotate: https://hg.mozilla.org/mozilla-central/json-file/d3ed36f4fb7a/browser/tools/mozscr

[2018-08-01 21:53] gmierz commented on #74
Fixed in https://github.com/mozilla/TUID/commit/26bbed5fe8436ed3c36de9ea4381994d0d8fe558

[2018-08-01 21:53] #74 closed

[2018-08-02 01:40] klahnakoski commented on #75
I do not understand the problem: Non-code files look like single-line files; the same code can deal with these files like any other.  No special cases makes for simpler code.

We can make a blacklist, which may reduce the number of annotate calls.  But since we never have coverage requests for non-code files, we may never need to ask for annotate during a tuid request.

[2018-08-02 02:30] gmierz commented on #75
Sorry, I don't think I was clear enough. The problem is that [test_500_file] is failing now because it uses the .png file I mentioned above and before this json-annotate change, it didn't return tuids because the annotate didn't exist.

I'll rewrite the test to use another file and leave everything in the tuid service as it is.

[test_500_file]: https://github.com/mozilla/TUID/blob/dev/tests/test_

[2018-08-02 16:25] gmierz commented on #73
This problem could take a long time to resolve so for the time being, I'll just be restarting the service daily. If we can find a way to have the service tell supervisorctl to restart it, that would be ideal. `memmon` won't work for us since we would need to restart it if it's out of memory and it has completed all currently requested files.

[2018-08-02 21:02] gmierz commented on #75
Fixed in 666452e548aff9b79040cc352badadecfe23a0a2

[2018-08-02 21:02] #75 closed

[2018-08-03 00:11] klahnakoski commented on #73
If we can get the service to kill itself (exit code not zero) after some duration, then supervisor will restart it.

[2018-08-03 00:31] klahnakoski commented on #73
The `PYPY_GC_MAX` variable does nothing unless we use PyPy

[2018-08-03 11:13] gmierz commented on #73
Ok, I'll undo the PYPY change and have the service return a non zero exit code when it's run out of memory and all files have finished processing.

[2018-08-10 17:23] gmierz opened #76 "Merge conflict failures"
Here's one instance of a failure that is directly related to the ignoring that we do for merge conflicts:

[code]

I'm not sure what revision resulted in the merge conflict, but it's the only way that this error could've happened since it's the only diff type that we ignore - unless there are problems with the diffs which I haven't seen elsewhere. It's lines go from 1 to 5131, then jump to 5141 to

[2018-08-16 17:28] klahnakoski commented on #73
I think the problem here is bad tooling: We are looking for memory leaks, so we should have a tool that finds memory leaks.  The only leaks I can think of are reference cycles; so the tool should be looking for cycles, but not just any cycles.  A dominator graph of memory should help us find the interesting cycles.

wlog, we can assume there is one root R* (If there are multiple roots, then add no

[2018-08-16 17:30] klahnakoski commented on #73
The logic to calculate the dominator graph can be found in the domain of compiler optimization.  The algorithms may need to be modified to discount the assumption that all paths start a R*.

[2018-08-17 13:57] klahnakoski commented on #73
Another source of memory leaks are module variables that hold on to an ever-increasing number of objects.  which is not caught by dominator loops.  Caches and queues can also consume large amounts of memory; we should see them as dominating a large number of objects.

[2018-08-18 20:01] gmierz commented on #68
This was fixed alongside the method modifications in this commit: 8e7aefcbfc69d6dee9d9c706cf90569035f000d3

[2018-08-18 20:01] #68 closed

[2018-08-18 20:01] gmierz commented on #44
Fixed with the addition of clogger.

[2018-08-18 20:01] #44 closed

[2018-08-19 17:12] klahnakoski opened #77 "Report number-of-nines success rate"
Since the tuid service is responding to about 100% of the requests, we should be more discriminating; reporting the number of nines (99.99% is 4nines).

    -log10(num_fails/total)

[2018-08-30 15:40] klahnakoski opened #79 "Remove shutdown_server()"
This can not be exposed

[2018-09-04 12:42] klahnakoski commented on #73
The dominator analysis leaves lots of work to do.

1. The top loops can be found, but the majority are legitimate loops created to hold the program (and other modules) together. Maybe there is a way to exclude these useful loops. Maybe establish a baseline and use graph subtraction to find the net-new loops?  This is too much work.
2. We need more Python specific post-processing:  Objects and thei

[2018-09-05 11:27] klahnakoski opened #81 "Only one Clogger?"
There was some code added that ensured only one backfilling thread was running.  This may be a side effect of wanting only one Clogger in existence at a time:

https://github.com/mozilla/TUID/blob/6113f4531067f7b6748a35681558bd406ca8c091/tuid/clogger.py#L49

Make a global to hold the one Clogger
[code]

You can check if that variable has been filled upon `__init__` and throw an error if a clogger

[2018-09-06 00:39] gmierz commented on #81
This is fixed in c47a1d3010c709d076e7f92f22074fec483f5783.

[2018-09-06 00:39] #81 closed

[2018-09-06 00:43] gmierz commented on #77
I've added a requests tracker: https://github.com/mozilla/TUID/blob/dev/tuid/statslogger.py#L208-L228
It outputs how many requests passed or failed, how many were complete or incomplete, and the ratio `(complete/incomplete)`.

[2018-09-06 12:35] klahnakoski commented on #77
Please also report the number of nines; Percentages near near 100% do not show with enough resol
ution.

https://github.com/mozilla/TUID/blob/c47a1d3010c709d076e7f92f22074fec483f5783/tuid/statslogger.py#L216

[2018-09-18 17:56] klahnakoski commented on #76
This problem can be split into three parts:

1. There are not enough TUIDs - the merge conflict was resolved by adding more lines than the diffs indicate.  It is possible there are no TUIDs assigned to the last few lines of a file.  This may mess with clients who need those TUIDs
2. There are too many TUIDS - the merge conflict was resolved by adding less lines than the diffs would indicate. The s

[2018-09-18 17:58] klahnakoski commented on #76
Please see https://github.com/mozilla/TUID/issues/48

[2018-09-20 21:52] klahnakoski opened #84 "Multiprocess TUID Server?"
The TUID server has maximized the use of Python's single thread.   We should experiment with using multiple processes for even greater speeds.

1. Can the Sqlite database file handle multiple processes?  I expect that it should, but if not then we will need a database that can handle multiple concurrent connections.
2. Does the tuid server delegate to processes?  Do we use gunicorn to spin up mult

[2018-09-20 22:14] gmierz commented on #76
This is highly dependent on how the diffs are applied, and what the diffs represent. Given this, here is what I think will happen in the breakdown you give:

1/2. In either case, TUIDs will no longer match to the lines they are supposed to match with. Or, for a given TUID that was matched to the content at line X1, if that TUID is moved to line X2 which is not equal to X1, then the TUID will no lo

[2018-09-21 10:32] klahnakoski opened #85 "Unique constraint problem"
@gmierz, if you know about this, then close this issue

[code]

[2018-09-21 10:55] klahnakoski commented on #76
How can you easily find out if you do not have enough lines?  You may need to request the whole file; which seems expensive.  Maybe we can demand the clients tell us how many TUIDs they expect from each file?  The service can use that to add additional TUIDs, if it comes up short, before responding.

[2018-10-03 20:58] gmierz commented on #85
Let's keep an eye out for this. I've seen this when there are merge conflicts so it may be another issue in relation to that.

[2018-10-03 21:07] gmierz commented on #84
I have a feeling that sqlite can handle multiple python processes: https://gist.github.com/cessor/f8bf530212fbe75263c79564f5fc15ad

For 3, we could make one request worker, and another type of worker limited to querying the DB. That would split some logic from the clogger.py file into another one as well.

[2018-10-03 21:10] gmierz commented on #79
Fixed in https://github.com/mozilla/TUID/commit/ff1f90b693246caad1e120b4819e367ee9b4e8ad

[2018-10-03 21:10] #79 closed

[2018-10-27 16:33] klahnakoski opened #87 "Repo table records are too large"
The `repo` table stores the changeset.moves, which can get very large.  This breaks any browser client that performs `{"from":"repo"}`.

Since the TUID service is the biggest consumer of the `moves` let's move it to it's own table; the ?`changeset`? table.

[2018-11-20 22:26] klahnakoski opened #88 "Use resources/scripts/prod_app.sh for service startup"
The `supervisor.conf` file is set to run

    /bin/bash -c 'resources/config/app_start.sh'

instead of

    resources/scripts/prod_app.sh

please fix this, and remove the `resource/config/app_start.sh`.  Scripts should be in the `scripts` directory

be sure to set the execute bit on `prod_add.sh` too: https://stackoverflow.com/questions/21691202/how-to-create-file-execute-mode-permissions-in-git-o

[2019-01-18 15:01] klahnakoski commented on #84
I have a [proof-of-concept](https://github.com/klahnakoski/pyLibrary/blob/dev/tests/test_sqlite.py#L27) that shows a single Python instance can escape GIL constraints by sending SQL to Sqlite.  If we use Sqlite as a vector machine (much like machine learning uses a GPU), we can get more performance out of Python.

[2019-02-18 01:53] ghost opened #92 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/TUID/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publi

[2019-03-03 13:45] nishikeshKardak opened #93 "ERROR: file not found: teststest_basic.py::test_one_http_call_required"
#### Describe the bug
The test throws an error file not found. Even if the file is present in the TUID/tests directory.
#### Screenshots
![capture5](https://user-images.githubusercontent.com/39300717/53696000-87b4f080-3de8-11e9-848e-62aededb3e46.JPG)

#### Version
OS: ubuntu 18.04

[2019-03-08 08:28] rv404674 commented on #87
hi @klahnakoski . I will like to work on it. Can you please tell me on how to proceed.

[2019-03-08 12:56] klahnakoski commented on #87
The first step is to get the program, and the its test suite, running on your machine.  You must also Install Elasticsearch, and update its config files [here](https://github.com/mozilla/TUID/tree/dev/resources/config).

The bulk of this project will involve changing https://github.com/mozilla/TUID/blob/dev/vendor/mo_hg/hg_mozilla_org.py  which is responsible for querying Elasticsearch first, and

[2019-03-12 22:39] gmierz commented on #93
The screenshot you've provided is not related to the problem that the issue was created for. For this error, you're running the tests from the wrong location, please make sure you've followed the setup instructions in the README (specifically the `PYTHONPATH` change). Also, the working directory should be `~/TUID/TUID/` not `~/TUID/TUID/tests`. After those changes, the following should work:
[code

[2019-03-12 23:41] gmierz opened #95 "Get annotations for older revisions faster"
Currently, it is quite difficult to get annotations for any revision. We have to restrict ourselves to within the last week (by design to be fast for the ETL). It would be good to have the ability to quickly get annotations for any older revisions without having to apply changesets to make it there. This would make it simpler to obtain line to TUID mappings when we are trying to display aggregate

[2019-03-13 04:23] nishikeshKardak commented on #93
Hello @gmierz, Thanks for the feedback, I have given incorrect information. I apologized for that. The test throws an error `file not found`. Even if the file is present in the `TUID/tests` directory.

[2019-03-13 04:27] nishikeshKardak commented on #93
Hey @gmierz  The above error occurs when I ran the tests locally as a python program. I fixed that issue. But by mistakenly I made an issue with the incorrect information. Sorry for the inconvenience. This will not happen in the future. I changed the title and the description of an issue.

Thank you :)

[2019-03-13 17:38] gmierz commented on #93
Ok, thanks! It still seems to me like it's a problem with where you are calling it from (given the information you've provided) - the working directory (the directory you are in) should be `~/TUID/TUID/` not `~/TUID/TUID/tests`.

[2019-03-14 04:19] nishikeshKardak commented on #93
Hello @gmierz, Thanks for the reply. I changed my working directory, but still, this error has occurred.
I attached the following screenshot. I am in the same directory as given in the instructions.

![Capture5](https://user-images.githubusercontent.com/39300717/54331099-64870e00-463e-11e9-85b9-8179a39c9096.JPG)

[2019-03-14 04:31] nishikeshKardak commented on #93
Hello @gmierz, I found that this issue occurs due to the command given in the instructions is for windows and I am trying to run it on Ubuntu.

I tried  ` python -m pytest tests/test_basic.py::test_one_http_call_required` and It works fine.

![Capture5](https://user-images.githubusercontent.com/39300717/54331433-fc392c00-463f-11e9-98ea-b99d2f027bad.JPG)

[2019-03-14 16:50] #93 closed, assigned to nobody

[2019-03-14 20:34] rv404674 commented on #87
hey @klahnakoski , i got what the problem is and what the solution is (i.e we need to move "moves" out of the repo table into its own separate table, and everywhere the code touches repo, we will add almost identical code that touches a table full of moves). But still i am able to understand where to do the changes. Can you please take a look at above commit, and tell if i am moving in the right d

[2019-03-16 08:48] ajupazhamayil commented on #88
@klahnakoski Please have a look at the PR and let me know if any changes needed.

[2019-03-18 05:02] rv404674 commented on #95
hi @gmierz . I would like to work on this issue. Can you please tell on how to proceed. Thanks

[2019-03-18 13:02] gmierz commented on #95
There are no steps to proceed here because we don't have a solution for this. We can discuss possible solutions here though.

As mentioned in the first comment, we could build a separate thread to handle these requests. We could also build a second process but then we would have to solve issue #84 first. But I think that using a priority queue for annotation requests and moving the annotation func

[2019-03-25 21:33] rv404674 commented on #34
hi @klahnakoski . Is this issue still open. I would like to work on it.

[2019-03-25 21:35] rv404674 commented on #31
hi @klahnakoski i will like to work on this issue.  Can you point me to the file where i need to make some changes and also some code samples. Thanks

[2019-03-26 23:15] gmierz commented on #92
Changes are in place, closing the issue.

[2019-03-26 23:15] #92 closed, assigned to nobody

[2019-03-27 11:54] klahnakoski commented on #34
Yes, you may work on this.  We want test to confirm the database transactions roll back upon failure

[2019-03-27 14:07] klahnakoski commented on #31
I imagine code that adds a version table can be useful to many projects.  I would put the code in

https://github.com/mozilla/TUID/blob/dev/vendor/pyLibrary/sql/sqlite.py

Add a method that will check the version is what's expected.  If there is no version table, then make one.  If the version does not match then throw an error.

then alter the TUID program to use that method after it connects to

[2019-03-27 15:23] rv404674 commented on #31
hey @klahnakoski so basically there are two things i need to to.
1. First create a version table
2. add a function that check the version in version table with the expected version in the config file. If not then throw an error. After that change tuid program to incorporaate this new function.

To create a version table, the code needs to be added in https://github.com/mozilla/TUID/blob/dev/tuid/s

[2019-03-27 16:23] klahnakoski commented on #31
@rv404674  it looks like the database is setup https://github.com/mozilla/TUID/blob/dev/vendor/pyLibrary/sql/sqlite.py#L72  and that is where you would call the version check method

The version check method belongs in `sqlite.py`: I imagine others may find that logic useful.

[2019-03-27 21:47] ayir commented on #42
@klahnakoski  Is this issue still open?I would like to work on this

[2019-03-28 03:59] klahnakoski commented on #42
yes, this is still open.

[2019-03-28 17:52] ajupazhamayil commented on #84
I would like to work with this issue, I am ready to research on both 1 and 2, But can you expand the 3rd point a little bit more?

[2019-03-28 19:42] ayir commented on #42
hey I am running into an issue while running the app.py like:
jx_python.meta import Column
ImportError: No module named meta
When I go inside jx_python it is an empty file.
Can you tell me how to fix it?

[2019-03-28 22:54] gmierz commented on #42
Hmm, did you set the PYTHONPATH variable? If so, could you paste the entire error. Another thing to try would be to see if you can run the tests (as described in the README).

[2019-03-28 23:08] gmierz commented on #84
There is interest from others to work on this as well. A solution proposal to this issue could be a good point for a GSOC application.

There isn't much to expand on that point - it's an issue we need to overcome and we have no solution to it. Simpy put, we need to break the singleton clogger into a multi-thread/process implementation and the reason there is only one is primarily because we need t

[2019-03-29 07:03] ajupazhamayil commented on #84
Thank you for the information @gmierz

[2019-03-29 13:49] #88 closed

[2019-03-29 14:52] klahnakoski commented on #95
Using the ES cluster, instead of the SQLite database, may help here: We will be able to store data for much longer.

[2019-03-29 20:34] ajupazhamayil commented on #84
@gmierz Actually in that code only single process(daemon process) is active in inserting it to the database rite? When we have multiple processes trying to write at the same time, The entire DB would get locked (thats what I read here https://www.sqlite.org/faq.html#q5). Please correct me if I am wrong.

[2019-03-29 20:42] ajupazhamayil commented on #84
Actually when I tried with multiple processes inserting at the same time(code available here: https://github.com/ajupazhamayil/playground/blob/master/sqliteTest.py), Sometimes getting error like `sqlite3.OperationalError: database is locked`.

[2019-03-29 20:43] klahnakoski commented on #84
@ajupazhamayil thanks for finding that detailed description: That is consistent with some tests I ran a while ago:  **If** we want multiple processes writing to the database at once, then our code must be able to handle the unavailable database exceptions that get raised.  Simple retrying may be enough.

[2019-03-30 06:41] ghost opened #99 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 11:31] ayir commented on #42
Hey I am able to run  it now .
I think I missed the python path .
Thanks

[2019-03-30 15:58] #99 closed, assigned to nobody

[2019-04-02 06:50] ajupazhamayil commented on #84
@klahnakoski, Thank you for the information, Actually I read about the exceptions, My doubt is, Will it take a part in making the TUID service unstable a little bit? And locking the entire database instead of just locking the table/tuple would make this service slow right?

[2019-04-02 21:03] ajupazhamayil commented on #62
@gmierz Actually why are we not using annotations table instead of temporal table (the data available in both are same right?)?

[2019-04-02 21:17] gmierz commented on #62
I'm not sure we should do this anymore - we would have to discuss this further. The TUID table stores accurate per-line information whereas the annotations table stores possibly inaccurate per-file information because of the merge patches.

The advantage to having the TUID table is that it makes it possible to request tuids for a file before and after a merge to get precise mappings when diff appl

[2019-04-03 03:48] ajupazhamayil commented on #62
Thank you for the information.

[2019-04-03 15:36] klahnakoski opened #102 "Show TUID health"
I have stopped sending myself emails when an ETL machine sees a TUID failure.  Run this query to get recent failure rates.

[code]

Here is my failed attempt at a SQL query for [stmo](https://sql.telemetry.mozilla.org/queries/new)

[code]

https://github.com/mozilla/ActiveData/issues/132

[2019-04-04 19:06] rv404674 commented on #34
Hi @klahnakoski . Can you point me to the file where i need to make some changes and also on how to approach it. Thanks :)

[2019-04-04 19:14] klahnakoski commented on #34
The SQL commands must all run through one thread when in Python.  This is done using a worker thread; which sorts which transactions it is working on, and ensuring that correct commands are sent to the database.

https://github.com/mozilla/TUID/blob/dev/vendor/pyLibrary/sql/sqlite.py#L267

You mission, if you choose to accept it, is to find the best spot to add retry logic:  In the event that the

[2019-04-05 21:29] klahnakoski commented on #84
@ajupazhamayil   You are correct to be concerned.  There is no easy stuff left on this project, and there is a chance that whatever we decide will lead us to a path of failure. If retrying transactions causes some instability, then the alternative is even more complicated.

[2019-04-05 21:39] ajupazhamayil commented on #84
Thank you for the clarification.

[2019-04-06 21:50] rv404674 commented on #50
@gmierz  Shouldn't this PR issue be closed. I think PR #66 is already merged.

[2019-04-06 22:24] rv404674 commented on #52
@gmierz One more easier approach to this will be making a "activeClogger" table with just one row "activeClogger" id. At one time there can only be one id in the table, so only one clogger can win. Whenver a new clogger comes he can overwrite the id in "activeClogger" table with its own. The old clogger will be periodically checking a signal to determine whether it's id is overwritten or not. When

[2019-04-08 18:48] rv404674 commented on #71
Hey @klahnakoski i am on it. :)

[2019-04-08 18:50] rv404674 commented on #42
Hey @klahnakoski  can i do it, if someone else is not doing it. And can you point me to the code where i need to make some changes. and also a brief. Thanks

[2019-04-29 16:27] ajupazhamayil commented on #95
@gmierz _get_hg_annotate function is for getting annotation from https://hg.mozilla.org right? If we move the function _get_hg_annotate to a separate thread with low priority, Will it be significantly faster?

[2019-04-30 13:48] gmierz commented on #95
Yes that's correct. It would speed up the ETL originating queries by preventing these older queries from slowing down the important work (the old changesets can take a long time to process and find the corrrect changesets to apply). It will also make the non-ETL queries faster when they are very old and we no longer have the changesets required to apply to a file's current frontier to move the fro

[2019-05-04 19:12] ajupazhamayil commented on #65
@klahnakoski Just for information, They are deprecating that frontend project (please see this
https://github.com/mozilla/firefox-code-coverage-frontend/issues/264).

Did we do any test before fixing the maximum number of concurrent requests to 10? As in if it is a very low number(as mentioned in the issue #60 ), we can test and increase it to have a faster service right?

[2019-05-04 19:28] gmierz commented on #65
Annotations are primarily required when the DB is empty and right now, most (if not all) files are currently in the DB so we don't lose much time to getting annotations anymore. We can look into slightly increasing the max number of concurrent requests but it won't have much of an effect on speed.

[2019-05-04 19:34] ajupazhamayil commented on #65
@gmierz Thank you for the information.

[2019-05-05 08:08] ajupazhamayil commented on #63
I have the following doubts with this issue.
1. Currently we are using Clogger and database to do the same work right?
2. So, this issue says ES-cache+hg would be faster than the database operations right?
3. Would the timestamps help us to sort the logs?

[2019-05-05 10:19] ajupazhamayil commented on #67
I understand the switch you mentioned is this
[code]
But can you please explain what problems may happen if we turn this switch on?

[2019-05-08 02:06] gmierz commented on #67
There are a lot of pushes going to the try branch located [here](https://treeherder.mozilla.org/#/jobs?repo=try) since it's used for testing. So we would be pulling in more information then we do now, but I don't know how it might affect performance. @klahnakoski would know more about this.

[2019-05-08 02:40] gmierz commented on #63
1. The clogger currently gets an ordered changeset log with this [method](https://github.com/mozilla/TUID/blob/dev/tuid/clogger.py#L526) (there are other areas in the clogger which do this as well, and see _get_clog for the current method). The clogger then uses the DB to cache this ordered list over time (or up to a maximum number of changesets).
2.  So, this issue is mainly for getting the log w

[2019-05-08 11:08] klahnakoski commented on #67
the TUID service can not keep up with the current workload.  Adding `try` will only increase that workload.  If the @ajupazhamayil makes the TUID service faster, then we can consider turning this on.

[2019-05-08 11:16] klahnakoski commented on #63
@ajupazhamayil   A lot of problems (not all in this project) can be solved if the changesets had an ordering, but that is difficult (not impossible) to establish, and that order would be independent of any data coming out of hg, since we will want that order over all the branches.

[2019-05-08 11:25] ajupazhamayil commented on #67
Thank you for the information. I will try my level best to make the TUID service faster.

[2019-05-09 13:48] ajupazhamayil opened #105 "Is the Readme file up to date?"
When I try to curl using
` curl -XGET http://localhost:5000/tuid -d "{\"from\":\"files\", \"where\":{\"and\":[{\"eq\":{\"revision\":\"9cb650de48f9\"}}, {\"eq\":{\"path\":\"modules/libpref/init/all.js\"}}]}}" ` (as given in the Readme)

It hits the error at https://github.com/mozilla/TUID/blob/dev/tuid/app.py#L88 because the length of the array there is 2.

[2019-05-09 13:53] ajupazhamayil commented on #105
Also, Is there any other way to kill the app.py than using the kill command?

[2019-05-10 02:50] gmierz commented on #105
Yes, it is out dated. I've updated it to add the branch argument, let us know if this works for you:
[code]

For the kill command, we should file another issue and try to solve it there.

[2019-05-10 09:37] ajupazhamayil commented on #105
Great, It is working now. I will make a new issue here for kill command.

[2019-05-10 09:38] #105 closed, assigned to nobody

[2019-05-10 09:42] ajupazhamayil opened #106 "There should be some other way to kill the app.py than using the kill command"
This issue is for making the app.py closed gracefully with some other manner than using the kill command(kill -9 pid).

[2019-05-10 09:42] ajupazhamayil commented on #106
It will not be an issue if we use the gunicorn.

[2019-05-10 13:31] klahnakoski commented on #106
ActiveData has a debug mode that enables a `/exit` command

https://github.com/mozilla/ActiveData/blob/dev/active_data/app.py#L144

and it is used for testing to shutdown the service (and collect code coverage)

https://github.com/mozilla/ActiveData/blob/dev/.travis.yml#L33

[2019-05-13 12:36] klahnakoski opened #108 "Replace sqlite with elasticsearch"
It has been decided that using ES will help with the converting this app to multiprocess.  The first step is replacing Sqlite.

@ajupazhamayil  To see how to create an index, delete all the indexes from your local es, and watch the http requests while the repo table is created. The following will be sent:

https://github.com/mozilla/TUID/blob/dev/vendor/mo_hg/repos/revisions.py

all http requests

[2019-05-13 12:57] klahnakoski commented on #108
To declare a new index in ES, we want to ensure that we can change the particular name, and the various settings in the config file.  The config file already points to two indexes for `mo-hg` [here](https://github.com/mozilla/TUID/blob/bd76f0dbe712a9bf1691a40119407117105e85ed/config.json#L17).

Make a new property `tuid.clogger.csetLog` and add properties you want to pass to [`get_or_create_index`

[2019-05-16 05:20] ajupazhamayil commented on #106
Since there is a way to exit from the app, I'm closing this issue.

[2019-05-16 05:20] #106 closed, assigned to nobody

[2019-05-22 19:49] ajupazhamayil opened #111 "Remove recompute_table_revnums function from clogger"

[2019-05-26 16:01] gmierz opened #113 "test_try_rev_then_mc test error caused by bad revision"
There is currently an error in Travis (which is not being shown as an error) on the test (test_try_rev_then_mc)[https://github.com/mozilla/TUID/blob/dev/tests/test_basic.py#L745]: https://travis-ci.org/mozilla/TUID/builds/534470998#L1748

The following occurs:
[code]

This is most likely being caused by a change in the try test revision that was being used. We will have to find a new `try` revisio

[2019-05-26 21:12] ajupazhamayil commented on #111
Solved and merged.

[2019-05-26 21:12] #111 closed, assigned to nobody

[2019-05-31 17:50] klahnakoski opened #115 "Build new-tuid service"
Since we ware moving to ES, multiple threads (and multiple processes) can not synchronize the creation of TUIDs.  TUID creation must be centralized.  To do this we will make a service, listening on some port, which will be responsible for creating those TUIDs.

[2019-05-31 17:55] klahnakoski commented on #115
Every TUID service thread will check ES for TUIDs, if some are missing (for given `revision`, `file` pair) then they must call the NewTUID service to fill in the blanks.  The NewTUID service will then respond with the full TUID list for that `revision`, `file` pair.

The new_tuid request should look like a regular tuid request:

[code]

[2019-06-01 22:41] ajupazhamayil commented on #87
Thank you @rv404674 for contributing to this issue :) We have solved this issue by continuing your work here in #110 and merged the same.

[2019-06-04 18:27] klahnakoski opened #117 "Operate without knowing file length"
Currently, we need the hg annotation to start the process of assigning tuids to a new file. We really only need this to know how many lines there are in the file; we do not need the annotations provided.

Can everything in this project work without knowing the length of the file?  For any `(revision, file)` pair there will be an order list of tuids.  The length of this list is the "maximum calcula

[2019-06-04 20:41] klahnakoski opened #118 "Store all (file, revision) pairs in ES"
We are lucky enough right now that the tests pass with ES, so we will continue to migrate to ES.  The overall plan is to have one thread deal with all the changeset application and tuid generation, while all other threads perform a lookup to ES, or ask the first thread for tuids.  We may not even need a dedicated thread: Since we are sticking to one process for now, we can put a global lock on the

[2019-06-04 20:42] klahnakoski commented on #115
This was a bad idea: The amount of coordination required to synchronize the service processes was too complicated to ever get correct.

Here is a better, more incremental, attempt: https://github.com/mozilla/TUID/issues/118

[2019-06-04 20:42] #115 closed, assigned to nobody

[2019-06-04 20:46] klahnakoski commented on #118
It is assumed the JSON documents look like:

[code]

[2019-06-07 16:20] ajupazhamayil commented on #87
#110 merged

[2019-06-07 16:20] #87 closed

[2019-06-07 16:24] ajupazhamayil commented on #34
We are moving from database to elasticsearch.

[2019-06-07 16:24] #34 closed

[2019-06-07 16:26] ajupazhamayil commented on #46
#49 merged

[2019-06-07 16:26] #46 closed

[2019-06-07 16:29] ajupazhamayil commented on #42
Duplication to sub problem of #118

[2019-06-07 16:29] #42 closed

[2019-06-07 22:26] gmierz opened #121 "Add test to check for uniqueness of TUIDs"
We must add a test to check for the uniqueness of TUIDs with the upcoming changes to service. The test should check that when two different files are requested simultaneously, that the TUIDs from one file do not exist in another. It would need to be similar to the multi-threaded test.

[2019-06-07 22:36] gmierz opened #122 "Add Python Black linting to travis?"
This is an issue to discuss if we should add python black linting to Travis. I think it will make our code a bit more verbose, but also standardize the formatting and prevent large formatting changes in the future. It would also make it simpler for us to review changes.

[2019-06-08 14:16] klahnakoski commented on #122
That would be wonderful!  How would we do that?  Can Travis submit changes to the repo?  Or will we add a commit hook that runs Black on changed files?

[2019-06-08 14:57] klahnakoski commented on #102
Turns out I was just plain terrible at writing a valid query:

https://sql.telemetry.mozilla.org/queries/63163/source#161911

[2019-06-08 15:00] klahnakoski commented on #102
![image](https://user-images.githubusercontent.com/2334429/59148890-59910f00-89dc-11e9-8dbb-d192a728c490.png)

[code]

[2019-06-09 15:43] gmierz commented on #62
@klahnakoski, @batm mentioned he will be continuing with this issue - can you explain to me why we should solve this issue now?

[2019-06-10 14:02] klahnakoski commented on #62
I misread your Apr2 comment as a vote **for** removing the temporal table.  I was stuck in the thought that the `temporal` able and the `annotation` table stored the exact same stuff; plus, I had the sense the `temporal` table was much bigger; being able to answer tuid requests. My mistake.

I did conclude that `latestFileMod` should stay in the database because of the transactions on it; I failed

[2019-06-10 14:29] klahnakoski commented on #58
I think this proves that the (file, target-line, target-revision) triple is not 1-1 with tuids.  Also, I can not see how changesets can ever produce this type of duplication, unless it happens during a merge.

[2019-06-10 15:07] gmierz commented on #58
Yes, and the merges are exactly what causes this issue from what I've seen in production.

[2019-06-10 15:41] gmierz commented on #62
Ok thanks for the explanation! The one thing I am still worried about is getting older annotations and how we would quickly get them without this table - if we store all revisions for all files though this will be fine and we could get rid of the table.

[2019-06-10 15:53] gmierz commented on #58
What if we store a list of TUIDs in the order that they are created (for each line) instead of just a single TUID per line? Maybe this would cause other problems though.

[2019-06-10 16:06] klahnakoski commented on #58
@gmierz  please elaborate.  I can not follow your idea.

We could, in the event that a merge causes ambiguous tuid assignment, simply issue a new tuid.  We would be conservative; preventing tuid mismatches will result in loosing track of some tuids through merges.

[2019-06-10 18:57] gmierz commented on #58
Hmm, I need to think about that idea some more - it has some holes in it. I'll post here with a better explanation when, or if, I can find one.

[2019-06-11 17:49] ajupazhamayil commented on #121
Merged.

[2019-06-11 17:49] #121 closed, assigned to nobody

[2019-06-24 13:57] klahnakoski opened #125 "remove use of _add_thread()"
Calls to `_add_thread()` and `_remove_thread` are not paired well in the code; there may be a logic error.  Replace the use of these functions with a context manager; specifically, the [Counter](https://github.com/mozilla/TUID/blob/dev/tuid/counter.py#L16)

https://github.com/mozilla/TUID/blob/dev/tuid/service.py#L496

[2019-07-02 06:27] ajupazhamayil opened #126 "Black format all the files"
This is to format the full repo code with python black.

[2019-07-02 16:12] gmierz opened #128 "Run travis tests in python 3.6"
We should start running travis tests with python 3.6+, currently we use python 2.7 which will be deprecated in the near future: https://github.com/mozilla/TUID/blob/dev/.travis.yml#L3

This is a prerequisite to running python black linting in travis for issue #122.

[2019-07-02 16:56] ajupazhamayil commented on #128
I think we can change the python without making any changes in the code. Because Python in my machine is 3.6.6. Can I just change that line you mentioned above to 3.6.6 and see?

[2019-07-02 17:01] gmierz commented on #128
Yup, I think you can make a PR with the change and it should run it there in python 3.

[2019-07-02 17:01] ajupazhamayil commented on #128
Shall I give 3.6?

[2019-07-02 17:03] gmierz commented on #128
Yes, that works for me.

[2019-07-02 21:21] gmierz commented on #128
Merged, thanks for the change.

[2019-07-02 21:21] #128 closed, assigned to nobody

[2019-07-09 01:48] gmierz commented on #126
Merged, good work!

[2019-07-09 01:48] #126 closed, assigned to nobody

[2019-07-09 01:54] gmierz commented on #122
Before committing any code to the repo, python pre-commit will run black on the new changes and auto-format them, these changes then need to be committed. Instructions for installing it have been added to the [install instructions](https://github.com/mozilla/TUID#running-tests).

[2019-07-09 01:54] #122 closed, assigned to nobody

[2019-07-19 17:46] gmierz opened #132 "Timeout TUID requests if they take too long."
Currently, in app.py we call `get_tuids_from_files` but there is no limit to how long it can run. I think it would be worth it to timeout this call if it takes any longer than 30 minutes: https://github.com/mozilla/TUID/blob/dev/tuid/app.py#L119-L124

This leaves some room for big updates, but also prevents it from blocking resources for too long.

[2019-07-20 18:00] ajupazhamayil commented on #108
The solution to this issue is merged.

[2019-07-20 18:00] #108 closed, assigned to ajupazhamayil

[2019-07-24 21:27] ajupazhamayil opened #134 "Remove the logic of line origins from _get_tuids function"

[2019-08-09 14:33] klahnakoski opened #137 "Merge mo-hg code into ActiveData-ETL"
This is to track ekyle's work to merge the vendor changes into another repo, and deploy

[2019-08-09 14:37] klahnakoski opened #138 "Add /exit command during debug"
It would be nice to cleanly shutdown the Flask service at the end of a debugging session.  To do this add a route that will run a shutdown function

This is some code from ActiveData:

    # TURN ON /exit FOR WINDOWS DEBUGGING
    if config.flask.debug or config.flask.allow_exit:
        config.flask.allow_exit = None
        Log.warning("ActiveData is in debug mode")
        flask_app.add_url_rul

[2019-08-09 14:40] klahnakoski opened #139 "Add fixture to call /exit at end of test session"
Some details on how this may be done

https://stackoverflow.com/questions/34931263/how-to-run-specific-code-after-all-tests-are-executed

https://pythontesting.net/framework/pytest/pytest-session-scoped-fixtures/

[2019-08-10 19:40] klahnakoski opened #140 "remove redundancy"
there are a few instances of this:

        query = self.min_max_dsl("max")
        current_max = coalesce(eval(str(self.csetlog.search(query).aggregations.value.value)), 0)

put the second line into the function

        current_max = self.min_max_dsl("max")

[2019-08-10 19:42] klahnakoski commented on #140
... and give the function a better name, like `get_revnum_stats("max")`

[2019-08-10 19:51] klahnakoski opened #141 "remove stringify_tuids()"
there should be no need for `stringify_tuids` or `destringify_tuids` now that ES is used for storage

[2019-08-11 16:38] klahnakoski commented on #141
during run of `test_one_http_call_required` the stringify tuid fails

![image](https://user-images.githubusercontent.com/2334429/62836773-cae77b00-bc34-11e9-8315-eca5b2eba1f6.png)

[2019-08-11 17:06] ajupazhamayil commented on #141
I have reproduced this issue, Let me have a look at this and get back to you.

[2019-08-11 18:12] ajupazhamayil commented on #141
@klahnakoski Please delete resources/tuid_app.db and try, and let me know. Meanwhile, I will add the required checks and resolution in the update_file_frontier function.

[2019-08-12 13:03] klahnakoski commented on #141
be sure the `if new_db == "yes":` option will delete this database

[2019-08-14 09:19] ajupazhamayil commented on #141
Yeah, I have added code to delete this DB for the cases where our tests could start.

[2019-08-19 09:35] ajupazhamayil commented on #139
Since we are not using the Flask app to run our tests, we don't need this for profiling.

[2019-08-19 09:40] ajupazhamayil commented on #118
Solved.

[2019-08-19 09:40] #118 closed, assigned to nobody

[2019-08-19 09:41] #139 closed, assigned to nobody

[2019-08-19 16:52] klahnakoski opened #152 "rename ES indicies to have "tuid" prefix"
Ensure all the indexes created by the TUID application start with `tuid-`; this will help with organization, and prevent namespace collisions with other projects sharing the cluster

[2019-08-19 16:58] klahnakoski opened #153 "ensure ES indexes are deleted when running tests new_db == "yes""
I think the test failures I am getting on my end are caused by a corrupted ES.  `new_db == "yes"` will delete the indexes for a fresh start.

[2019-08-22 18:53] ajupazhamayil commented on #134
Resolved and merged.

[2019-08-22 18:53] #134 closed, assigned to nobody

[2019-08-22 18:55] ajupazhamayil commented on #62
Resolved and merged.

[2019-08-22 18:55] #62 closed

[2019-08-22 19:12] ajupazhamayil commented on #140
Resolved and merged.

[2019-08-22 19:12] #140 closed, assigned to nobody

[2019-08-23 05:31] Patil2099 commented on #152
@klahnakoski Can I work on this Issue?

[2019-08-23 14:26] klahnakoski opened #157 "Add irc connection info to README so others can find us"

[2019-08-23 15:56] ajupazhamayil commented on #152
Yes, go ahead.

[2019-08-25 16:06] Patil2099 commented on #152
@klahnakoski @ajupazhamayil Can you explain me more about it?

[2019-08-25 18:28] ajupazhamayil commented on #152
Sure, we store our data in Elasticsearch cluster and the configuration for the same can be found here https://github.com/mozilla/TUID/blob/dev/tests/travis/config.json. You need to change the name of the indices (eg: https://github.com/mozilla/TUID/blob/dev/tests/travis/config.json#L18, name is "branches") to "tuid-name" (eg: "tuid-branches").

[2019-08-26 15:03] klahnakoski commented on #152
@Patil2099   First, be sure you can run the tests locally.  When you can do this, you can use elasticsearch-head to view the indexes.

Here is a list of indexes used by the tuid project, and the new name they should have

|  old name |  new name|
|-----|-----|
|repo| repo (no change)|
|branch|repo-branch|
|annotations|tuid-annotations|
|csetlog|tuid-csetlog|
|repo-moves|repo-moves|
|temporal|tuid-

[2019-08-29 21:26] klahnakoski opened #160 "Crash during testing on windows"
ES version 6.5.1

[code]

[2019-09-03 17:25] #157 closed, assigned to nobody

[2019-10-03 20:30] ajupazhamayil commented on #160
Yeah, we need 6.2.4

[2019-10-04 09:07] jyothisjagan commented on #152
Can I take this up?

[2019-10-04 09:17] ajupazhamayil commented on #152
@jyothisjagan Yes friend, go ahead. Please go through @klahnakoski's comment. Please go through the README to run the tests locally. If any issues, please comment here or join in our IRC (given in the README).

[2019-10-10 16:26] jyothisjagan commented on #152
I have been trying to run the tests locally. But four tests are failing. I can see the indices getting created in ElasticSearch Head. Please find the failures part of the log [here](https://bin.disroot.org/?dfddf81bb9b94b2a#54toOYfrvallSOaMSdAXgVkyYC5k1r5hON2Zlg2k374=)
OS : Debian Buster
Python 3.7.3
ElasticSearch 6.2.4

[2019-10-10 16:35] klahnakoski commented on #152
It appears the tuid service is not listening on the port 5000.  it may be blocked.  Looking a bit more...

[2019-10-10 16:42] klahnakoski commented on #152
Use the .travis.yml file as a guide to getting the tests to work.

Be sure you have an IDE (like pyCharm) to step through your code.  Specifically, ensure your test run is getting to the point where it spawns the TUID service: https://github.com/mozilla/TUID/blob/dev/tests/test_app.py#L37

[2019-10-10 17:08] jyothisjagan commented on #152
Sure. I will use an IDE to see what is happening. Thanks for looking into the issue.

[2019-10-10 19:23] jyothisjagan commented on #152
In my machine, _localhost_ was configured to use IPv6 loopback address. Associating it with _127.0.0.1_ in _/etc/hosts_ solved the issue. Thank you for the help.

[2019-10-10 19:35] ajupazhamayil commented on #152
Oh, Great that you found out!

[2019-10-12 18:58] ajupazhamayil commented on #152
Issue resolved.

[2019-10-12 18:58] #152 closed, assigned to jyothisjagan

[2020-05-09 21:59] klahnakoski opened #165 "Why do we use lockers?"
We have locks around the Elasticsearch access:

https://github.com/mozilla/TUID/blob/51906b9b8c023898403aac7dec63e2893b5e15c9/vendor/mo_hg/hg_mozilla_org.py#L511

            with self.repo_locker:
                self.repo.add({"id": _id, "value": rev})

I forget why.  Was it for testing?  Can we remove them?

[2020-05-10 10:15] gmierz commented on #165
I don't see an immediate reason why and I can't find one from the git blame/history. Maybe try removing those and see if the tests still pass?

One thing that it may help with is if repo is being populated but moves hasn't been populated yet - but I don't think we do anything that may hit this scenario.

[2020-05-10 17:56] ajupazhamayil commented on #165
Initially, when we were using the normal database, insertions were guarded with these locks. May be while porting I would not have thought about the ES capabilities. We may need to remove this and see.

[2020-05-10 19:28] klahnakoski commented on #165
Thank you both.  I will attempt to remove the locks.

BTW, the code has been running on the ETL machines for a week now!  I made some changes on another branch for scaling.  Expect a PR this week, or next.

@ajupazhamayil  Good job!  Sorry it took so long for me to use:  I expected my Python3 upgrade to be painful, so I was procrastinating.  I was right, the upgrade was painful.

[2020-05-10 19:28] #165 closed, assigned to nobody

[2020-05-10 19:38] ajupazhamayil commented on #165
@klahnakoski Thank you so much for the update!
I'm very happy to hear its running on ETL machines :-)
Thank you!

[2020-12-17 01:41] hwine opened #166 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2021-11-10 19:57] #166 closed, assigned to nobody

[2021-11-10 19:57] #153 closed, assigned to nobody

[2021-11-10 19:57] #160 closed, assigned to nobody

[2021-11-10 19:57] #138 closed, assigned to nobody

[2021-11-10 19:57] #141 closed, assigned to nobody

[2021-11-10 19:57] #132 closed, assigned to nobody

[2021-11-10 19:57] #137 closed, assigned to nobody

[2021-11-10 19:57] #117 closed, assigned to nobody

[2021-11-10 19:57] #125 closed, assigned to nobody

[2021-11-10 19:57] #102 closed, assigned to nobody

[2021-11-10 19:57] #113 closed, assigned to nobody

[2021-11-10 19:57] #95 closed, assigned to nobody

[2021-11-10 19:57] #85 closed

[2021-11-10 19:57] #77 closed

[2021-11-10 19:57] #84 closed

[2021-11-10 19:57] #76 closed

[2021-11-10 19:57] #71 closed

[2021-11-10 19:57] #73 closed

[2021-11-10 19:57] #70 closed

[2021-11-10 19:57] #65 closed

[2021-11-10 19:57] #67 closed

[2021-11-10 19:57] #61 closed

[2021-11-10 19:57] #63 closed

[2021-11-10 19:57] #59 closed

[2021-11-10 19:57] #57 closed

[2021-11-10 19:57] #58 closed

[2021-11-10 19:57] #52 closed

[2021-11-10 19:57] #50 closed

[2021-11-10 19:57] #51 closed

[2021-11-10 19:57] #45 closed

[2021-11-10 19:57] #48 closed

[2021-11-10 19:57] #39 closed

[2021-11-10 19:57] #43 closed

[2021-11-10 19:57] #31 closed